* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f6f8;
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.iskulaabid{
    /* background-color: red; */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar h2 {
    margin-bottom: 20px;
    color: #ecf0f1;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition:background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.close-btn {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.main-content {
    margin-left: 250px;
    flex: 1;
    margin-top: -20px;
  
    /* padding-left: 4px; */
    padding: 20px;
    transition: margin-left 0.3s;
}

header {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right span {
    margin-right: 20px;
    font-weight: bold;
}

.notif-btn, .settings-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.stats-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    flex: 1;
    min-width: 250px;
    max-width: 48%;
}

#logout{
    background-color: whitesmoke;
    color: #000;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}



/* Responsive  website*/
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .sidebar {
        left: -250px;
    }

    .sidebar.open {
        left: 0;
        /* transition: all 0.3s ease-in-out; */

    }

    /* .sidebar.close{
        display: none;
        transition: all 0.3s ease-in-out;

        
    } */

    .widgets {
        flex-direction: column;
    }
}
