.widgets{
    margin-top: 10px;
    padding: 20px;
}

.wide-widget{
    width: 700px;
    max-width: 700px;
    margin: 0 auto;
    background-color:white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}


h3{
    text-align: center;
    font: 25px;
    margin-bottom: 20px;
}
.form-group{

    /* width: 100%; */
    margin-bottom: 10px;

}
input{
    width: 70%;
    padding: 7px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.income-date{
    margin-left: 17px;
}

#add-income,#update-income{
    background-color: green;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;


}
.edit, .delete{
    margin-left: 10px;
    cursor: pointer;
    color: black;
    background-color: green;
    padding: 10px 15px;
    font-size: 15px;


}

#logout{
    background-color: whitesmoke;
    color: #000;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}


.income-amount{
    margin-left: 26px;
}

label{
    width: 14%;
}




/* table csss  data*/
.table-data{

    width: 700px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 130px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color:rgba(8, 152, 8,0.8);
}

tr:hover{
    background-color: rgba(255, 255, 102, 0.7);

    box-shadow: opx 5px 10px rgba(0, 0, 0, 0.5);

    }

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

