*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "arial" ,sans-serif;
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.container{
    width: 100%;
    
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;

}
.form{
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.button{
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;

}

.button:hover{
    background-color: #046f1b;
    
}
.switch{
    font-size: 16px;
    text-align: center;
    color: #666;
    margin-top: 15px;
}


.switch a{
  text-decoration: none;
  color:#007bff;

}
.switch a:hover {
    text-decoration: underline;
    color: rgb(75, 75, 231);
  }