*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-image: url(../img/background.webp);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.container {
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button {
  background-color: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.button:hover {
  background-color: #218838;
}

.auth-switch {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.auth-switch a {
  color: #007bff;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}

/* Responsive styling for mobile and tablet */
@media (max-width: 768px) {
  .container {
      width: 90%;
      padding: 15px;
  }

  .title {
      font-size: 20px;
  }

  .button {
      padding: 10px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .container {
      width: 100%;
      padding: 10px;
  }

  .title {
      font-size: 18px;
  }

  .auth-form {
      padding: 10px;
  }

  .form-group input {
      font-size: 14px;
  }

  .button {
      padding: 8px;
      font-size: 14px;
  }
}
